.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.page-content {
  width: 100%;
  max-width: 800px;
  background-color: rgba($color: darkgray, $alpha: 0.1);
  border-radius: 10px;


  user-select: none;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.form-item{
  margin-bottom: 10px;
}