:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
  width:100vw;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root{
  height: 100%;
  width: 100%;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.page-content {
  width: 100%;
  max-width: 800px;
  background-color: rgba($color: darkgray, $alpha: 0.1);
  border-radius: 10px;
  user-select: none;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.form-item{
  margin-bottom: 10px;
}